.w995{background:url(../img/tbg.jpg);width: 1100px;height:357px;}
body{background:url(../img/bg.png) repeat-x #eadfdf;}
.c1{background: url(../img/c1.jpg) top no-repeat;}
.c1_t1_content .c1_t1_dl dt{background:url(../img/bgall.png) -66px -10px;}
.c1_t1_img em{background: url(../img/bgall.png)}
.c1_t1_img h2{background: #dd3134;color: #fff}
a:hover, .c1_t1_content .c1_t1_dl dd a:hover{color: #8b0c53;}